/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  text-align: center;
  position: relative;
  color: black;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  );
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.Hello {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.card {
display: flex;
justify-content: center;
background:rgb(203, 4, 207);
width: 15rem;
position: absolute;
border-radius: 1rem;
}

.dragin-title {
  display: flex;
  height: 1.75rem;
  overflow: hidden;
  resize: none;
  text-align: center;
  padding: 0;
  margin: auto;
  background:rgb(203, 4, 207);
  width: 80%;
  transition: width 0.4s ease-in-out;
  border-radius: 1rem;
  border: none;
}

.dragin-title:focus {
  resize: none;
  text-align: center;
  background:rgb(207, 160, 4);
  width: 80%;
  transition: width 0.4s ease-in-out
}

.dragin-textarea {
  background:rgb(171, 18, 174);
  margin:0px 0px;
  padding:5px;
  min-height:16px;
  line-height:16px;
  width:96%;
  display:block;
  margin:0px auto;
  resize: none;
  border-radius: .5rem;
}

.box {
  text-align: center;
  background: rgb(203, 4, 207);
  border: 1px solid #999;
  border-radius: 4px;
  width: 180px;
  height: 180px;
  margin: 2px;
  padding: 2px;
  float: left;
  font-size: calc(5px + 1vmin);
}

.buttonMenu {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100px; /* Need a specific value to work */
  z-index: 2;
}
